<div class="content">
  <div class="navbar border-bottom border-dark fw-bold">
    <nav>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="text-decoration-none" routerLink="Home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="About">About</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="Contact">Contact</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="Courses">Courses</a>
        </li>
      </ul>
    </nav>
  </div>
  
  
  
  
  
  
  
  
  <router-outlet></router-outlet>
</div>