li{
    display: inline;
    padding: 19px;
}

.navbar{
    background-color: azure;
    padding: 10px 10px 1px 1px;
    /* position: fixed; */
    z-index: 1;
    width: 100%;
}

.content{
    background-color:rgb(226, 234, 250);
}

.active{
    background-color: rgb(208, 255, 255);
}

.component{
    position: relative;
}