<div class="content">
  <div class="navbar border-bottom border-dark fw-bold">
    <nav>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="text-decoration-none" routerLink="Home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="About">About</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="Contact">Contact</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="Courses" (click)="authenticationMessage()">Courses</a>
        </li>
        
      </ul>
    </nav>
<!-- -----------------------------------Passing Fragments To Parameters---------------------------------------- -->
    <!-- <nav>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="text-decoration-none" routerLink="" fragment="Home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="" fragment="About">About</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="" fragment="Contact">Contact</a>
        </li>
        <li routerLinkActive="active">
          <a class="text-decoration-none" routerLink="" fragment="Courses">Courses</a>
        </li>
      </ul>
    </nav> -->

    <div class="authentication" style="float: right;">
      <li routerLinkActive="active">
        <a class="text-decoration-none" (click)="userLogin()">Login</a>
      </li>
      <li routerLinkActive="active">
        <a class="text-decoration-none" (click)="userLogout()">Logout</a>
      </li>
    </div>
  </div>
  
  <!-- <app-home id="Home"></app-home>
  <app-about id="About"></app-about>
  <app-contact id="Contact"></app-contact>
  <app-courses id="Courses"></app-courses> -->
  
  
  
  
  
  
  <router-outlet></router-outlet>
</div>