<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="{{course.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 *ngIf="!editMode" class="card-title">{{course.name}}</h5>
              <div *ngIf="editMode" class="edit text-center">
                <input type="text" [(ngModel)]="course.name">
              </div>
              <p class="card-text">{{course.description}}</p>
            </div>
            <button *ngIf="showBtn" (click)="appendQueryParam()">Edit</button>
            <button *ngIf="!showBtn" (click)="update()">Update</button>
          </div>
        </div>
    </div>
</div>
<!-- <a [routerLink]="['/Courses/details',1]">Go To First Course</a> -->
<!-- <a [routerLink]="['/Courses/details',course.id]" [queryParams]="{edit:true}">Edit</a> -->
